{
  "extends": ["plugin:sonarjs/recommended", "plugin:react/recommended", "plugin:react/jsx-runtime", "prettier"],
  "plugins": ["react", "@typescript-eslint", "sonarjs", "jest"],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
