# osx noise
.DS_Store
profile

build
.build
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS

# node
node_modules
.idea
.git
.c9

*.iml
.serverless
.webpack
yarn-error.log
coverage

config.*
config.json
config.ts
.vscode
package-lock.json
.env
scripts